<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aerolínea Voladora</title>
    
</head>
<body>
    <header>
        <h1>✈️ Aerolínea Voladora</h1>
    </header>

    <nav>
        <a href="{% url 'inicio' %}">🏠 Inicio</a>
        <a href="{% url 'lista_aviones' %}">✈ Aviones</a>
        <a href="{% url 'lista_vuelos' %}">🛫 Vuelos</a>
        <a href="{% url 'lista_asientos' %}">💺 Asientos</a>
        <a href="{% url 'lista_reservas' %}">💺 Reservas</a>
        <a href="{% url 'lista_boletos' %}">🎫 Boletos</a>

    </nav>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Aerolínea Voladora</p>
    </footer>
</body>
</html>
